.audio-player {
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    background-color: $primary;
    padding: 10px;
    border-radius: 25px;
    display: flex;

    button {
        width: 40px;
        border-radius: 50%;
        border: none;
        margin-right: 5px;

        ion-icon {

        }
    }

    audio {
        height: 40px;
    }
}



























//     .progress {
//         width: 100%;

//         .progress-bar {
//             --seek-before-width: 0;
//             margin: 0;
//             appearance: none;
//             background: $secondary;
//             position: relative;
//             height: 4px;
//             width: 100%;
//             outline: none;

//             &::before {
//                 content: '';
//                 height: 4px;
//                 width: var(--seek-before-width);
//                 background-color: $accent;
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//                 z-index: 2;
//                 cursor: pointer;
//             }

//             &::-webkit-slider-thumb {
//                 -webkit-appearance: none;
//                 height: 15px;
//                 width: 15px;
//                 background-color: $accent;
//                 cursor: pointer;
//                 position: relative;
//                 z-index: 3;
//             }
//         }

//         .time {
//             width: 100%;
//             display: inline-flex;
//             justify-content: space-between;
//             color: $secondary;
//             font-size: 16px;
//         }
//     }

//     .audio-player-controls {
//         width: 100%;
//         display: inline-flex;
//         justify-content: center;

//         ion-icon {
//             color: $secondary;
//         }

//         .next-prev-episode, .play-pause-btn {
//             background: none;
//             border: none;
//             display: flex;
//             align-items: center;
//             cursor: pointer;
//             margin: 0 20px;

//             &:hover {
//                 ion-icon {
//                     color: $accent;
//                 }
//             }
//         }

//         .play-pause-btn {
//             background-color: $accent;
//             border-radius: 5px;

//             ion-icon {
//                 color: $secondary;
//                 font-size: 2rem;
//             }

//             &:hover {
//                 background-color: $secondary;
//                 ion-icon {
//                     color: $background;
//                 }
//             }
//         }
//     }
// }